.card-with-border {
    border: 1.5px solid black;
  }

  .todo {
    background-color: #FAA0A0; /* Color for ToDo tasks */
  }
  
  .inprogress {
    background-color: #fdfd96; /* Color for InProgress tasks */
  }
  
  .done {
    background-color: #77dd77 /* Color for Done tasks */
  }

  .text-style {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    text-align: start;
  }

  .card-style {
    margin-bottom: 10px;
  }